/* 
Beige:      #faf5e5
Gold:       #f1b401
Green:      #426f2a
Dark Green: #355922
Black:      #0f0501

font-family: 'Archivo Black', sans-serif;
font-family: 'Libre Franklin', sans-serif;
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{

    background-color: #faf5e5;
}

nav{
    margin: 0;
    padding: 0;
    height: 120px;
}

nav #logo{
    height: 80px;
    margin-top: 30px;
    padding-left: 10px;
}

#nav-tabs{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

#nav-tabs a{
    display: block;
    width: 150px;
    height: 55px;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    color: #0f0501;
    line-height: 1.8em;
    text-align: center;
    background-color: #f1b401;
    margin-bottom: 10px;
}

#nav-tabs a:hover{
    background-color: #ffd65a;
}

body {
    padding: 0;
    margin: 0;
}

footer{
    background-color: #dfcc90;
    color: #0f0501;
    padding: 20px;
}

footer p{
    display: block;
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}

@media (min-width: 1000px) {

    #nav-tabs{
        display: block;
        position: absolute;
        top: 50px;
        right: 20px;
    }

    nav #logo{
        height: 120px;
    }

    #nav-tabs a{
        display: inline;
        color: #355922;
        padding: 20px;
        border: none;
        background-color: inherit;
    }

    #nav-tabs a:hover{
        background-color: #ffefbc;
    }
    

    #nav-tabs .active{
        border-bottom: solid 3px #355922;
    }

}